<div>
  <h2>
    Update store details
  </h2>
<form #updatestore = "ngForm" style="padding-left:1%;" (ngSubmit) = "updateStore(updatestore.value)">
  Store name:
    <input type="text" class="form-control" style="width:50%;border-color:lightgray" placeholder="{{getStore().name}}" required name="name" ngModel>
    <br/>
  Store address:
    <input type="text" class="form-control" style="width:50%;border-color:lightgray" placeholder="{{getStore().address}}" required name="address" ngModel>
    <br/>
  Latitude:
    <input type="text" class="form-control" style="width:50%;border-color:lightgray" placeholder="{{getStore().latitude}}" required name="latitude" ngModel>
    <br/>
  Longitude:
    <input type="text" class="form-control" style="width:50%;border-color:lightgray" placeholder="{{getStore().longitude}}" required name="longitude" ngModel>
    <br/>
    <button type="submit" class="btn btn-primary" style="font-family:candara;border-style:none" value="submit">Update store</button> 

</form>
<a href="/">
  Back to main page
</a>
</div>